body {
  background-color: #000; /* black */
  color: #fff;            /* white text */
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
}
/* Layout */
.container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  background-color: #4B5320;
  padding: 20px;
  width: 280px;
  color: #fff;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

/* Main Content */
.main-content {
  padding: 20px;
  flex: 1;
  background-color: #000;
  color: #fff;
}

h2 {
  border-bottom: 2px solid #4B5320;
  padding-bottom: 5px;
}
/* Profile Picture */
.profile-pic {
  width: 100%;
  height: 30%;
  border-radius: 50%; /* circular */
  margin-bottom: 15px;
  border: 3px solid #ffffff;
}

/* Sidebar headings */
.sidebar h1 {
  font-size: 1.6em;
  margin: 10px 0 5px;
}

.sidebar h3 {
  font-weight: normal;
  font-size: 1.1em;
  margin-bottom: 15px;
  color: #ddd;
}
.sidebar h3 p{
  color: #000000;
}
/* Sections */
.sidebar h4 {
  margin-top: 20px;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}

/* Main content polish */
.main-content {
  line-height: 1.6;
}

.main-content p {
  margin-bottom: 15px;
}
